@import 
url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

header {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 425px) {
    header {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: right;
    }  
}

body {
    font-family: 'Merienda';
    background-color: #32A6F4;
}

.container {
    display: flex;
    justify-content: left;
}

@media screen and (max-width: 425px) {
    .container {
        display: flex;
        justify-content: space-around;
    }
}

/*from Snazzy-1*/
@import 
url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

@media screen and (max-device-width: 425px) {
    html {
        background-color: #3d3b8e; 
    }
    
    body {
        font-family: "Merienda";
        font-size: 14px;
        color: #fff;
    }  

    h1, h2 {
        font-family: "Merienda";
        font-size: 20px;
        color:#fff;
    }
}

@media screen and (min-device-width: 426px) {
    html {
        background-color: #b0e298;
    }  

    body {
        font-family: "Merienda";
        color: #000;
        font-size: 26px;
    }

    h1, h2 {
        font-family: "Merienda";
        color: #000;
        font-size: 50px;
    }
}

